.player-control-buttons{
    border: none;
    background: none;
    outline: transparent;
}

.player-control-buttons:hover{
  opacity: 0.6;
}

.player-buttons-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-playlist-container{
    /* color: #ffffff8c; */
    color: rgb(250, 183, 28);
    /* color: #a8d5e0; */
    /* height: 68vh; */
    overflow: auto;
    margin-top: 3rem;
}

.player-playlist-container li:hover{
    color: whitesmoke;
    cursor: pointer;
}

.player-playlist-container li.selected{
    /* color: #5b98fa; */
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.custom-container-absolute {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  background: #000000c7;
}

#player-volum-container{
  display: flex;
  align-items: center;
  padding: 1rem 0;
  flex: 1;
}

@media only screen and (min-width: 800px){
  .custom-container-absolute {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 3rem;
    position: absolute;
    right: 10%;
    top: 0;
    width: 30%;
    height: 80%;
    background: #000000e0;
  }
}

@media only screen and (max-width: 500px){
  #player-volum-container{
    display: none;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px){
  .player-controls-container{
    flex-direction: column;
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #404142; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1a1b1b; 
  }

  input[type="range"]:hover{
    cursor: pointer;
  }